
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; /*overflow:hidden;*/}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{width:0px; height:0px;}
    #cboxTopRight{width:0px; height:0px;}
    #cboxBottomLeft{width:0px; height:0px;}
    #cboxBottomRight{width:0px; height:0px;}
    #cboxMiddleLeft{width:0px;}
    #cboxMiddleRight{width:0px;}
    #cboxTopCenter{height:0px;}
    #cboxBottomCenter{height:0px;}
    #cboxContent{background:#fff; /*overflow:hidden;*/}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; /*border:1px solid #ccc;*/}
        #cboxLoadedContent{margin-bottom:0px; border:1px solid #CCC;}
        #cboxTitle{position:absolute; top:-32px; left:0px; text-align:center; width:100%; font:normal 16px Tahoma, Geneva, sans-serif; color:#FFF;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494; text-indent:-9999px;}/*-----------------------------------------------------*/
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute;  top:50%; margin-top:-31px; left:-35px; background:url(../images/prev.png) no-repeat; width:16px; height:31px; text-indent:-9999px;}
        #cboxNext{position:absolute; top:50%; margin-top:-31px; right:-35px; background:url(../images/next.png) no-repeat; width:16px; height:31px; text-indent:-9999px;}
        #cboxLoadingOverlay{}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:-38px; right:5px; background:url(../images/controls.png) no-repeat no-repeat -25px 0; width:23px; height:23px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -27px;}


.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}


.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

#cboxWrapper { background:#FFF;}