@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);


@font-face {
    font-family: 'swis721_lt_btlight';
    src: url('/fonts/swissl-webfont.eot');
    src: url('/fonts/swissl-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swissl-webfont.woff') format('woff'),
         url('/fonts/swissl-webfont.ttf') format('truetype'),
         url('/fonts/swissl-webfont.svg#swis721_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ padding:0; margin:0; color:#171615; font:normal 12px/22px Arial, Helvetica, sans-serif; background: url(/images/bg.gif);}

div, p, form, ul, li, ol, h1, h2, h3, h4, h5, h6, a, span, form, img, br, input, textarea, label { padding:0; margin:0; }

a, input { text-decoration:none; outline:none;}

img {border:0; outline:none;}

ul{list-style-type:none;}
	
*:focus{ outline:none;}	
	
.clear{clear:both; line-height:0 !important; font-size:0 !important; height:0px !important;}

.left{ float:left;}
.right{ float:right !important;}
.block{ display:block;}
.inlineblock{ display:inline-block;}
.relative{ position:relative}
.absolute{ position:absolute;}
.bdrT{border-top:1px solid #dadada;}
.bdrB{border-bottom:1px solid #b5b5b5;}

.text{ font-family: 'Open Sans', sans-serif; font-size:18px; color:#536e00; font-weight:600;}
.text2{color: #598103; font: bold 14px Tahoma, Geneva, sans-serif;}

.link{ color:#f8931d; font:normal 12px/18px Tahoma, Geneva, sans-serif; text-decoration:underline;}
.link:hover{ text-decoration:none;}
.link3{ color:#598103; font:normal 12px/18px Tahoma, Geneva, sans-serif; text-decoration:none;}
.link3:hover{ text-decoration:underline;}
.pdfLink{ background:url(/images/pdf-icon.gif) no-repeat 0 0; padding:7px 0 8px 30px; color:#000; font:normal 12px/18px Tahoma, Geneva, sans-serif; text-decoration:none;}
.pdfLink:hover{ text-decoration:underline;}


/*------------------------------------------------------------------*/
.pageCenter{ width:935px; margin:0 auto;}
.topPanel{ padding-bottom:13px; background:#FFF url(/images/topbg.gif) repeat-x 0 0; position:relative; z-index:100;}



ul.topNav{ border-left:1px solid #ae0202; border-right:1px solid #fe0000; height:41px; float:left; position:relative; z-index:100; }
ul.topNav > li{ float:left; border-left:1px solid #fe0000; border-right:1px solid #ae0202; height:41px; position:relative;}
ul.topNav > li > a{ display:block; padding:0 10px; font-family: 'Open Sans', sans-serif; font-size:12px; line-height:41px; color:#FFF; text-transform:uppercase; font-weight:400; text-shadow:1px 1px 1px #830404;}
.dparrow{ position:absolute; z-index:550; left:50%; margin-left:-5px; bottom:-5px; background:url(/images/dp-arrow.gif) no-repeat top left; width:10px; height:5px;}

.dropmenu{ position:absolute; z-index:500; top:41px; background:#FFF url(/images/dm-gradient.gif) repeat-x 0 0; box-shadow:0px 2px 3px rgba(0,0,0,0.3); min-height:50px; border:1px solid #dedbdb; padding:15px 20px 20px 20px; overflow:hidden;}
.dropmenuImageHolder{ float:right; width:176px; background:#f1f1f1; padding:18px; margin:-20px -20px -20px 0;}
.dmList{ position:relative; width:165px; margin-right:19px; z-index:2; float:left;}
.dmList p{float:left; width:168px; font:bold 12px 'Open Sans', Arial, Helvetica, sans-serif; color:#df0000; padding-bottom:6px !important; margin-right:19px;}
.dmList p.none{ font-size:14px; margin-top:18px; color:#df0000; padding-left:10px; background:url(/images/menu-arrow.gif) no-repeat 10px 3px; padding-left:35px;}
.dmList p.none a{color:#df0000;}
.dmList p.none a:hover{color:#000;}
.dmList > li{border-bottom:1px solid #c9c9c9; color:#001120;}
.dmList > li > a, .dmList > li span{ display:block; padding:6px 0 6px 12px; font:400 13px 'Open Sans', Arial, Helvetica, sans-serif; color:#001120; text-transform:capitalize;}
.dmList li a:hover{color:#df0000;}

.dmList li ul{ padding:0 0 12px 25px; }
.dmList li ul li{ line-height:normal; color:#001120;}
.dmList li ul li a{ font:400 11px 'Open Sans', Arial, Helvetica, sans-serif; color:#001120; text-transform:capitalize;}

p.teamach{float:middle; width:900px; font:bold 18px 'Open Sans', Arial, Helvetica, sans-serif; color:#df0000; padding-bottom:3px !important; margin-right:19px; border-bottom:solid; margin-bottom:10px;}

.logo{ float:left; margin-top:12px; padding-left:12px;}

.relatedSite{ background:url(/images/rwBg.png) no-repeat 0 0; width:143px; height:32px; display:block; float:right; padding-left:0px; position:relative; cursor:pointer; margin-top:27px; z-index:1;}
.relatedSite a{ text-decoration: none; color: #282828; font: normal 11px/30px Arial, Helvetica, sans-serif; display:block; padding-left:25px;}

.relatedSiteList {background: #DFDFDF; position: absolute; left: 50%; top: 37px; display: none; margin-left:-85px; width:143px; z-index:250; border: 1px solid #CCC; border-radius:10px; box-shadow:2px 2px 5px rgba(0,0,0,0.1); overflow:hidden; }
.relatedSiteList li {  border-top: 1px solid #CCC; margin-top:-1px;}
.relatedSiteList li a {  text-decoration: none;  display: block;  padding: 8px 10px;  color: #838181;  font: normal 11px Arial, Helvetica, sans-serif;  background: white;  text-align:left;  }
.relatedSiteList li a:hover { color:#000;}
.relatedSite span{ height:0; position:absolute; top:32px; left:65px; border:5px solid #CCC; border-left:5px solid transparent; border-right:5px solid transparent; border-top:0px solid transparent; display:none;}



.footerPanel{ height:35px; padding:15px 0; color:#676565; font:normal 10px Tahoma, Arial, Calibri;text-transform:uppercase;}
.footerLink{ color:#5e5e5e; font:normal 11px Tahoma, Arial, Calibri; padding-bottom:7px;}
.footerLink a{ color:#494949;  text-shadow:1px 1px 0 #d6d5d5; text-transform:uppercase; }





