@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  font-family: "Roboto", sans-serif;
}

.dropdown-link {
  position: relative;
  display: block;
  padding: 10px 16px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto;
  transition: color 0.3s ease;
}

.dropdown-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 4px;
  width: 0%;
  height: 2px;
  background: #d32f2f;
  transform: translateX(-50%);
  transition: all 0.35s ease;
}

.dropdown-link:hover::after {
  width: 85%;
}

.dropdown-link:hover {
  color: #d32f2f;
}

@keyframes float2 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}



